.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
    
}
#container1 ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #container1 li {
    background-color: #ffdfd9;
    color: #000;
    padding: 0.51rem;
  }
  .container1 {

    display: inline;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
    grid-gap: 1rem;
    padding: 1rem;
    justify-content: center;
    
  }
  .container1 H1{
    display:inline;
    font: 12px/1.2 "Oswald", sans-serif;
  }
  .container1 ul li{
    display:inline-block;
    color: 
  }
  .img-logo img {
    background-position: top;
    background-size: cover;
    height: 200px;
    width: 290px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s;
  }
  .img-logo img:hover {
    box-shadow: none;
    transform: scale(1.1);
  }
  
  
  
